<html>

<head>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <title>BK Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .top_header_wrapper {
            
            height:34px ;
            background-color: #f16e8e;
        }
        .top_header_wrapper .top_header_group {
            margin-left: -15px;
            margin-right: -15px;
            height: 34px;
        }
        .top_header_wrapper .top_header_group .top_header {
            display: inline-block;
            *display: block;
            zoom: 1;
            width: 100%;
            height: 34px;
        }
        .top_header {
            margin-left: 200px;
            height: 34px;
            line-height: 34px;
            color: #fff;
        }
        .top_header_wrapper .top_header_group .top_header>div.right-area {
            height: 34px;
            float: right;
            text-align: right;
        }
        .main-header {
            background: #fff;
            height:150px;
            box-shadow: 0px 2px 10px -5px #343434;
            margin-bottom: 1px;
        }
        .search{
            border-radius: 30px;
            border: 1px solid#ff789e;
            height:40px;
            width: 50%;
            margin-top: 30px;
            background-color: #ffffff;
        }
        .search_input{
            border:0px solid #ffffff;
            margin-top: 5px;
            font-size: 130%;
            width: 90%;
        }
        .button_input{
            float:right;
        background-color: #ffffff;
        border: 0px solid #ffffff;
        font-size: 150%;
        margin-top: 8px;
        color: #ff789e;
        }
        .a{
            color:gray;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
        }
        .ab {
            margin: 60px 0px 20px 0px;
            height: auto;
            background-color:#f1f1f1;
        }
        a{
            font-size: 16px;
            color: #686868;
        }
        a:hover{
            color: #ff789e;
            text-decoration: none;
        }
        
        .ew {
            height: 300px;
        }
        hr{
            border-color:black;
        }
        .list {
            background-color: #ff789e;
            color: white;
            padding-top: 3px;
            height: 5%;
            width: 100%;
            font-size: 16px;
        }
        .button_page {
            background: #f1f1f1;
            height: 330px; margin-top: 30px;
        }
        
        .b {
            margin-top: 20px;
        
        }
        
        p {
            font-size: 130%;
        }
        .form-control {
            display: block;
            width: 40%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>
    <script>
        function change(){
            document.getElementById("sale").style.color="#ff789e";
        }
        function change1(){
            document.getElementById("sale").style.color="gray";
        }
        function change2(){
            document.getElementById("intro").style.color="#ff789e";
        }
        function change3(){
            document.getElementById("intro").style.color="gray";
        }
        function change4(){
            document.getElementById("shop").style.color="#ff789e";
        }
        function change5(){
            document.getElementById("shop").style.color="gray";
        }
    </script>
</head>

<body>
    <section class="top_header_wrapper">
        <div class="top_header_group">
            <div class="top_header">
                <img src="https://scontent.fhan2-2.fna.fbcdn.net/v/t1.15752-9/46503734_266417004020223_5459113096339521536_n.png?_nc_cat=110&_nc_oc=AWMFg8chwC-CBjR2XVRIQf6eNs6jjZkG09COj9wgHWRLGZ1j5X8_x4gm3XOUaQ&_nc_ht=scontent.fhan2-2.fna&oh=aec90d0c32745219596fccf490bb86fd&oe=5C721233" height="28px">&nbsp;
                Hotline:
                <span>0868</span>
                <span>608</span>
                <span>098</span>
                <div class="right-area col-sm-9">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chào Mừng bạn đến với MOKI  &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/testdonhang" style="color:#fff; text-decoration: none;" target="_blank">
                    <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.15752-9/46486321_2177397702508288_7120314478297612288_n.png?_nc_cat=102&_nc_oc=AWOiqlqibI2D5NfNK2WzWaKv9DRvnCZjBLqtJBfIjWwgsRLXbhQ4wY9hwM04UQ&_nc_ht=scontent.fhan2-1.fna&oh=2b2ef8a354a1d21f02406a3078af057e&oe=5C655EA1" height="25px" >
                    Kiểm tra đơn hàng
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/giohang" style="color:#fff; text-decoration: none;" target="_blank">
                    <img src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.15752-9/46440665_317047542225752_2007267865027149824_n.png?_nc_cat=103&_nc_oc=AWN3t8UhDVnXPH8JFHw2UrwWfqsKmAq_dr8dpbOvwRMWWdj1PmVuFRvV9crTpQ&_nc_ht=scontent.fhan2-1.fna&oh=940c8d0d66bf6491345cac7fcf16c9fc&oe=5C6DDD3A" height="25px"  >&nbsp;&nbsp;&nbsp;
                    Giỏ hàng
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                <% if(!user){ %>
                    <a href="/login" style="color:#fff; text-decoration: none;">Đăng Nhập </a>
                    &nbsp;/&nbsp;
                    <a href="/singup" style="color:#fff; text-decoration: none;">Đăng Ký </a>
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <% } else{ %>
                        <a href="/user" style="color:gold; text-decoration: none;">Xin Chào  <%- user.name %> </a>
                    &nbsp;/&nbsp;
                    <a href="/logout" style="color:#fff; text-decoration: none;">Đăng Xuất </a>
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <% } %>
            </div>   
        </div>
    </section>
    <div class="main-header">
            <div class="container">
                <div class="col-xs-1" style=" margin-left: -50px; ">
                        <a href="/" style="color:#fff; text-decoration: none;" target="_blank">
                            <img src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t1.15752-9/46482182_714947665540041_26052485638520832_n.jpg?_nc_cat=101&_nc_oc=AWMlpspRNctUDXqjleqivwA46NaMf7W4jaDNvD-p9MoTM2FBaTYmSgqC16Oz5g&_nc_ht=scontent.fsgn2-4.fna&oh=3caa3e83b5e1c98c6b0a23097cf4ae79&oe=5C6F4AA6" height="100%" width="500%" >
                        </a>
                </div>
                <div class="col-xs-5"></div>
                <div class="search col-xs-5 ">
                    <form action="/product/search" method="POST">
                        <input type="text" class="search_input" name="search" placeholder="Tìm kiếm sản phẩm" value="" required>
                        <button type="submit" class="button_input glyphicon glyphicon-search"></button>
                    </form>
                    <div style=" margin-left: -100px; ">
                        <table >
                            <tr>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td> <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <a href="/" style="text-decoration: none;">
                                        <div class="a" id="tc"  style="color:#ff789e">TRANG CHỦ</div>
                                    </a>
                                </td>
                                <td colspan="3">
                                    <a href="/flashsale" style="text-decoration: none;">
                                        <div class="a"id="sale" onmouseover="change()"; onmouseout="change1();" >GÓC SALE</div>
                                    </a>
                                </td>
                                <td colspan="3">
                                    <a href="/intro" style="text-decoration: none;">
                                        <div class="a" id="intro" onmouseover="change2()"; onmouseout="change3();" >GIỚI THIỆU</div>
                                    </a>
                                </td>
                                <td colspan="3">
                                    <a href="/shopmoki" style="text-decoration: none;">
                                        <div class="a" id="shop"onmouseover="change4()"; onmouseout="change5();" >SHOP MOKI</div>
                                    </a>
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <a href="https://www.facebook.com/thuanbka" target="_blank" style="text-decoration: none;">
                                        <img  src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/46401353_259433991401871_2351997054194024448_n.jpg?_nc_cat=105&_nc_oc=AWM6zPDbr8J36T9Ac2ltdELkfw4Mll9ochY-MEejoG_IWl5_4T0foOb71VJZXg&_nc_ht=scontent.fhan2-4.fna&oh=834397feb328a7ea7e8de02d8fd35b6e&oe=5C78BE02" height="28px" class="a" ">
                                    </a>
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <a href="https://twitter.com/MOKI_VN" target="_blank" style="text-decoration: none;">
                                        <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/46459243_503715120142223_5861379913671507968_n.png?_nc_cat=105&_nc_oc=AWPLC0U39Q6r9l_mryfgq7E9E3Iu-UpAeeLhTux7nr-9vbBXc66jmjSNIhL_lw&_nc_ht=scontent.fhan2-4.fna&oh=07a8380d7c64fb40415e09a1189f3a10&oe=5C8108A1"height="28px"  class="a">
                                    </a>
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <a href="https://youtu.be/fJX0s5tjBFw" target="_blank" style="text-decoration: none;">
                                        <img src="https://scontent.fsgn2-4.fna.fbcdn.net/v/t1.15752-9/46520497_258081331731452_5346733168210739200_n.png?_nc_cat=101&_nc_oc=AWPIiCKy6EG9XUN40x5hLm-3I8TFRCwepm--kp9pdNh65EKiIzPwoGRT8T9CpQ&_nc_ht=scontent.fsgn2-4.fna&oh=5cddcabc417c6b6d1a0b07ab704026fc&oe=5C7D4DB8"height="28px" class="a" >
                                    </a>
                                </td>
                                <td>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </td>
                                <td>
                                    <a href="https://www.instagram.com/moki.vn/" target="_blank" style="text-decoration: none;">
                                        <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/46494508_254665261896742_5567074576862543872_n.jpg?_nc_cat=100&_nc_oc=AWM_zHrk_fK3WQo_vxo7XTSSGCwKf6IUYiQFDR5Q8sv7O902Yu0O8j6Dnb2n2w&_nc_ht=scontent.fhan2-4.fna&oh=b4dcdc0ab8d28c2d3234329aa9e0c555&oe=5C7883E7" height="28px" class="a" >
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <div  style="background-color:#f1f1f1; height:400px" >
        <div class="row">
            <br>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <div class="col-xs-3"></div>
                <div class="col-xs-6" style="background-color:white;">
                    <div  id="login1"  >
                        <form onsubmit="return check()" name="formlogin" method="POST" id="formSignUp">
                            <h3 style="text-align: center;font-weight: bold;">Đổi Mật Khẩu</h3>
                            <div class="col-xs-1"></div>
                            <div>
                                <div class="col-xs-4"style="font-size:16px;font-weight: bold;" >Nhập Mật khẩu cũ:</div>
                                <input class="form-control" id="user" onclick="unhidden()" type="text" placeholder="Vui lòng nhập mật khẩu hiện tại" name="pass1" required>
                            </div>    
                            <br>                          
                            <div class="col-xs-1"></div>
                            <div>
                                <div class="col-xs-4"style="font-size:16px;font-weight: bold;" >Nhập mật khẩu mới:</div>
                                <input type="password" id="pass" onclick="unhidden1()" class="form-control" size="30px" name="pass2" placeholder="Vui lòng nhập mật khẩu mới" required><br>
                            </div>   
                             
                            <div class="col-xs-1"></div>
                           
                            <div>
                                <div class="col-xs-4"style="font-size:16px;font-weight: bold;" >Nhập lại mật khẩu mới:</div>
                                <input type="password" id="pass" onclick="unhidden1()" class="form-control" size="30px" name="pass3" placeholder="Vui lòng nhập lại mật khẩu mới" required><br>
                            </div>
                            <div class="col-xs-5"></div>
                            <button type="submit" style="height: 25px; background: #f16e8e;font-weight: bold;">Tiếp tục ! </button>
                            <br>
                            </form>
                            <div class="col-xs-3"></div>
                        <h5>Vui lòng nhập thông tin chính xác. Nếu có sai xót sẽ quay lại trang này</h5>
                        <div class="col-xs-4"></div>
                        <h5> Nếu bạn quên mật khẩu  <a href="/forgetpass"> bấm vào đây.</a></h5>
                    </div>
                </div>
            </div>
           
        </div>
        <br>
    </div>
    <hr>
    <script>
        function change6(){
            document.getElementById("qa").style.color="#ff789e";
        }
        function change7(){
            document.getElementById("qa").style.color="grey";
        }
        function change8(){
            document.getElementById("dk").style.color="#ff789e";
        }
        function change9(){
            document.getElementById("dk").style.color="grey";
        }
        function change10(){
            document.getElementById("baomat").style.color="#ff789e";
        }
        function change11(){
            document.getElementById("baomat").style.color="grey";
        }
        function change12(){
            document.getElementById("quyche").style.color="#ff789e";
        }
        function change13(){
            document.getElementById("quyche").style.color="grey";
        }
            
    </script>
    
    <div class="button_page">
        <div class="row">
            <div class="col-xs- col-sm- col-md- col-lg-">
                &nbsp;
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <div class="col-xs-2"></div>
                <div class="col-xs-1">
                        <a href="/question" style="text-decoration: none;">
                            <div id="qa" onmouseover="change6()"; onmouseout="change7();"  style="font-size:20px;color:grey">Hỏi và đáp</div>
                        </a>
                </div>
                <div class="col-xs-1"></div>
                <div class="col-xs-2">
                    <a href="/dieukhoansudung" style="text-decoration: none;">
                            <div id="dk" onmouseover="change8()"; onmouseout="change9();" style="font-size:20px;color:grey">Điều khoản sử dụng</div>
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="/baomatthongtinkhachhang" style="text-decoration: none;">
                        <div id="baomat" onmouseover="change10()"; onmouseout="change11();" style="font-size:20px;color:grey">Bảo mật thông tin khách hàng</div>
                    </a>
                </div>
                <div class="col-xs-2">
                    <a href="/quychehoatdong" style="text-decoration: none;">
                        <div id="quyche" onmouseover="change12()"; onmouseout="change13();" style="font-size:20px;color:grey" >Quy chế hoạt động</div>
                    </a>
                </div>
                
            </div>
        </div>
        <div class="col-xs-1"></div>
        <div class="col-xs-4">
            <div class="col-xs-1"></div>
            <div class="col-xs-1"></div>
            <a href="/" style="color:#fff; text-decoration: none;" target="_blank">
                <img src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.15752-9/46440636_337710300364990_2557987190403497984_n.png?_nc_cat=100&_nc_oc=AWM6iXag7nlvM1nSMS4cvfxUdNulGPJs8CpYIifXKeLsSwDdgp31Yrtp7OXRLg&_nc_ht=scontent.fhan2-4.fna&oh=b162263da10a116a3a8197d6248821a5&oe=5C7CD8ED" height="25%" width="50%" >
            </a>
            <hr style="border-color:black">
            <h5>- CÔNG TY CỔ PHẦN MOKI</h5>
            <h5>- Giấy CNĐKDN: 0107370701 - Ngày cấp: 24/03/2016.</h5>
            <h5>- Cơ quan cấp: Phòng Đăng ký kinh doanh Sở Kế hoạch và Đầu tư Thành phố Hà Nội.</h5> 
            <h5>- Web mô phỏng lại web chính <a>www.moki.vn</a> thuộc bài tập lớn môn thiết kế và lập trình Web</h5>
            <hr style="border-color:black">
        </div>
        <div class="col-xs-2 b">
            <h4>Các dịch vụ giao hàng</h4>
            <img src="http://thanhnien.vnpost.vn/static/img/vnpost.png" alt="" height="60px"><br><br><br>
            <img src="https://giaohangtietkiem.vn/wp-content/uploads/2015/10/logo.png" height="60px" alt="">
        </div>
        <div class="col-xs-2 b">
            <h4>Phương thức thanh toán</h4>
            <img src="https://i2.wp.com/scentfie.com/wp-content/uploads/2017/11/Cash-On-Delivery-Logo.jpg?resize=366%2C144"
                alt="" height="60px"><br><br>" <br><br>
        </div>
        <div  class="col-xs-1"></div>
        <div class="col-xs-3 b">
            <h4 > Liên Hệ</h4>
            <span style="font-size:14px;color:black; font-weight: bold">TRỤ SỞ CHÍNH:</span>
            <br>
            <span>6/50, đường Lĩnh Nam, Hoàng Mai, Hà Nội</span>
            <br>
            <span style="font-size:14px;color:black; font-weight: bold">Địa chỉ giao dịch:</span>
            <br>
            <span>Tầng 10, Tòa nhà ZenTower, 12 Khuất Duy Tiến, Thanh Xuân Trung, Thanh Xuân, Hà Nội</span>
            <br>
            <span>Hotline: 0868.608.098</span>
            <br>
            <span style="font-size:14px;color:black; font-weight: bold">Thời gian làm việc:</span>
            <br>
            <span>Thứ 2 - Thứ 6:8h00 - 12h00, 13h00 - 17h00</span>
            <br> 
            <span>Thứ 7:8h00 - 12h00</span>
            <br>
            <span style="font-size:14px;color:black; font-weight: bold"> Web truy cập:</span>
            <a href="">Bkstore.herokuapp.com</a>
        </div>
    </div>
       

</body>

</html>
